<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신고</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/declation.css">
</head>
<body>
  <header class="header">
    <h1 class="header_text">SiJoeNa</h1>
  </header>
  <h3 class="alert">해당 기관을 클릭하시면 <br>바로 전화 연결이 됩니다.</h3>
  <div class="container" onclick="makeCall('112')">
    <div class="calling">
      <div class="police_name">
        경찰:
      </div>
      <div class="police_detail">
        &nbsp;112
      </div>
    </div>
    <div class="explain">
      범죄나 긴급한 상황, 도난, 폭행 등과 같은 신체적 피해를 입었을 때 신고하여 즉각적인 조치를 요청할 수 있습니다.
    </div>
  </div>
  <div class="container" onclick="makeCall('182')">
    <div class="calling">
      <div class="police_name">
        경찰청 사이버 안전국:
      </div>
      <div class="police_detail">
        &nbsp;182
      </div>
    </div>
    <div class="explain">
      인터넷을 통한 해킹, 개인정보 유출, 사이버 사기 등과 같은 사이버 범죄 피해를 입었을 때 신고하거나 상담을 받을 수 있습니다.
    </div>
  </div>
  <div class="container" onclick="makeCall('1332')">
    <div class="calling">
      <div class="police_name">
        금융감독원:
      </div>
      <div class="police_detail">
        &nbsp;1332
      </div>
    </div>
    <div class="explain" onclick="makeCall('118')">
      보이스피싱, 금융 사기, 불법 대출 광고 등 금융 관련 피해가 발생했을 때 피해 구제와 상담을 요청할 수 있습니다.
    </div>
  </div>
  <div class="container" onclick="makeCall('118')">
    <div class="calling">
      <div class="police_name">
        한국인터넷진흥원:
      </div>
      <div class="police_detail">
        &nbsp;118
      </div>
    </div>
    <div class="explain">인터넷 상에서의 해킹, 개인정보 침해, 악성코드 피해 등이 발생했을 때 이를 신고하고 필요한 조치를 받을 수 있습니다.</div>
  </div>

  <div class="bottom-navbar">
    <a href="{{url_for('index')}}" class="nav-item">
      <i class="bi bi-house-door icons"></i>
      <span>홈</span>
    </a>
    <a href="{{url_for('declation')}}" class="nav-item">
      <i class="bi bi-exclamation-triangle icons"></i>
      <span>신고</span>
    </a>
    <a href="{{url_for('customer')}}" class="nav-item">
      <i class="bi bi-headset icons"></i>
      <span>고객센터</span>
    </a>
    <a href="{{url_for('usuage')}}" class="nav-item">
      <i class="bi bi-three-dots icons"></i>
      <span>사용법</span>
    </a>
  </div>

  <script>
    function makeCall(phoneNumber) {
            const userConfirmed = confirm("전화를 거시겠습니까?");
            if (userConfirmed) {
                // 사용자가 '확인'을 누른 경우
                window.location.href = `tel:${phoneNumber}`;
            } else {
                // 사용자가 '취소'를 누른 경우
                alert("전화를 취소했습니다.");
            }
        }
  </script>
</body>
</html>